html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{ 
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
}
button{
    background-color: transparent;
    padding: 0;
    bottom: none;
    font-family: inherit;
    color: inherit;
}
input{
    font-family: inherit;
    color: inherit;
}
.section__box{
    padding: 150px 0;
}
.section__tatli {
    text-transform: uppercase;
    margin-bottom: 55px;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    color: #2b2b2b;
}

.header {
    background-image: url(../imeges/Background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
}
.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 60px 0;
    font-weight: 300;
}
.menu {
    justify-self: start;
}
.menu__dtn{
   display: none;
   width: 40px;
   height: 40px;
   justify-content: center; 
   align-items: center;
   position: relative; 
   z-index: 10;
}
.menu__dtn::after,
.menu__dtn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #f5f5f5;
}
.menu__dtn::after{
    top: 0;
}
.menu__dtn::before{
    bottom: 0;
}
.menu__dtn span{
  height: 3px;
  background-color: #f5f5f5; 
  width: 100%; 
}

.menu__list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}
.header__link {
    font-size: 18px;
    color: #f5f5f5;
    transition: all 0.5s;
}
.header__link:hover{
    border-bottom: 1px solid #f5f5f5;
}
.logo {
    justify-self: center;
}
.header__phon {
    display: flex;
    justify-content: center;
    justify-self: end;
    gap: 10px;
    font-size: 20px;
}
.header__tatli {
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 85px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.17;
    max-width: 835px;
}
.header__text {
    font-size: 24px;
    max-width: 757px;
    margin-bottom: 30px;
}
.header__btn {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 20px 49px;
    color: #2b2b2b;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s;
    font-size: 18px;
    font-weight: 400;
}
.header__btn:hover{
    background-color: #e6e2e2;
}
.services {
    background-color: #171717;

    color: #f5f5f5;
}
.services__list {
    border-top: 1px solid #f5f5f5;
}
.services__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #f5f5f5;
    padding-right: 40px;
}
.services__item-tatli {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.16;
    text-transform: uppercase;
}
.services__item-texy {
    max-width: 803px;
    width: 100%;
}
.swiper-slide{
    padding-bottom: 50px;
}
.slider-item {
    padding: 20px;
    border: 1px solid #2b2b2b;
    max-width: 520px;
}
.slider__img {
    margin-bottom: 40px;
    max-width: 100%;
}
.slider__tatli {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.16;
}
.slider__desc {
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1.16;
}
.slider__text {
    font-size: 16px;
    margin-bottom: 30px;
}
.slider__link {display: inline-block;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 105px;
    border: 1px solid #2b2b2b;
    margin-bottom: 20px;
    line-height: 1.1;
}
.progect__arrow{
    cursor: pointer;
    position: absolute;
    bottom: -5px;
    left: 50%;
}
.progect__arrow-prev{
    transform: translateX(-75px);
}
.progect__arrow-next{
    transform: translateX(15px);
}
.steps {
    background-color: #171717;
    color: #f5f5f5;
    padding: 60px 0 100px;
    display: flex;
}
.steps__tatli {
    font-weight: 300;
    font-size: 42px;
    text-transform: uppercase;
    max-width: 580px;
    line-height: 1.2;
    margin-bottom: 56px;
}
.steps__list {
    max-width: 562px;
    counter-reset: my-counter;
    
}
.steps__item {
    counter-increment: my-counter;
    padding-left: 57px;
    position: relative;
    padding-bottom: 40px;
}
.steps__item:last-child{
    padding-bottom: 0;
}
.steps__item:last-child::after{
    display: none;
}
.steps__item::before{
    content: counter(my-counter);
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid #f5f5f5;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
.steps__item::after{
    content: '';
    position: absolute;
    width: 1px;
    background-color: #f5f5f5;
    left: 20px;
    top: 48px;
    bottom: 10px;
}
.steps__item-tatli {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.16;
    margin-bottom: 8px;
}
.steps__img img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.catalog {
    padding: 150px 0;
}
.catalog__tatli {
    max-width: 556px;
}
.catalog__content {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    gap: 50px;
}
.catalog__form {
    max-width: 560px;
    width: 100%;
}
.form__tatli {
    max-width: 430px;
    font-weight: 300;
    font-size: 28px;
    color: #2b2b2b;
    text-transform: uppercase;
    line-height: 1.16;
    margin-bottom: 20px;
}
.form__text {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    max-width: 429px;
    margin-bottom: 50px;
}
.catalog__form-input {
    display: inline-block;
    padding: 20px;
    border: 1px solid #171717;
    font-weight: 100;
    font-size: 24px;
    line-height: 1.16;
    width: 100%;
    margin-bottom: 30px;
}
.label__catalog {
    display: flex;
    gap: 10px;
}
.form__checkbox {
    width: 17px;
    height: 17px;
    accent-color: #171717;
    margin-bottom: 50px;
    margin: 0;
}
.catalog__btn {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.16;
    background-color: #171717;
    padding: 19px 54px;
    color: #e6e2e2;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}
.catalog__gallery {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.gallery__img {
    width: 100%;
}
.request{
    margin-bottom: 150px;
}
.request__inner {
    height: 700px;
    background-image: url(../imeges/req.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 0;
}
.request__inner-form {
    background-color: rgba(23, 23, 23, .85);
    max-width: 1000px;
    margin: 0 auto;
    padding: 75px 117px;
    color: #f5f5f5;
}
.request__form{
    display: flex;
}
.request__tatli {
    text-transform: uppercase;
}
.request__form-input {
    display: inline-block;
    border: none;
    padding: 20px;
    background-color: #d9d9d9;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.1;
    width: 100%;
    color: #2b2b2b;
}
.button__btn {
    padding: 20px 50px;
    background-color: #f5f5f5;
    border: none;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.16;
    cursor: pointer;
    width: 360px;
}
.footer {
    background-color: #171717;
    color: #d9d9d9;
    padding: 100px 0;
}
.conteiner {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}
.footer__inner {
    display: flex;
    align-items: end;
    padding-right: 170px;
    gap: 100px;
    margin-bottom: 10px;
}
.footer__logo {
    margin-right: auto;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.footer__nav-item {
}
.footer__link {
}
.footer__social {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 15px;
}
.footer__social-item {
}
.footer__social-link {
    display: flex;
    gap: 10px;
    line-height: 1.16;
}
.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__item {
}
.fotter__copy {
    display: flex;
    gap: 10px;
    font-weight: 300;
    font-style: 14px;
    line-height: 1.16;
}



@media (max-width: 1300px) {
    .menu__dtn{
        display: flex;
    }
    .menu__list{
        position: absolute;
        inset: 0;
        background-color: #171717;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: all .5s;
    }
    .menu__list.active{
        transform: translateX(0);
    }
    .services__item{
        display: block;
        padding-right: 0px;
    }
    .steps{
        display: block;
    }
    .catalog__content{
        flex-wrap: wrap;
    }
    .catalog__img{
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__inner{
        gap: 50px;
        padding-left: 0;
    }
}
@media (max-width: 1000px){
    .catalog__gallery{
        grid-template-columns: repeat(2,1fr);
    }
        .footer__inner{
        flex-wrap: wrap;
    }
}
@media (max-width: 700px){
    .header__top{
        padding-top: 40px;
    }
    .header__tatli{
        padding-top: 50px;
        font-size: 60px;
    }
    .section__box{
        padding: 50px 0;
    }
    .request__tatli{
        font-size: 26px;
    }
    .request__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .button__btn{
        width: 100%;
    }
    .request{
        margin-bottom: 50px;
    }
    .footer__inner{
        gap: 10px;
    }
}
@media (max-width: 650px){
    .header__phon span{
        display: none;
    }
    .section__tatli{
        font-size: 30px;
    }
    .services__item-tatli{
        font-size: 20px;
        padding: 10px 0;
    }
    .catalog{
        padding: 50px;
    }
    .catalog__form{
        max-width: 100%;
    }
    .request__tatli{
        font-size: 20px;
    }
    .request__inner-form{
        padding: 10px 5px;
    }
}
@media (max-width: 480px){
    .header__tatli{
        padding-top: 20px;
        font-size: 40px;
    }
    .header__text{
        font-size: 18px;
    }
    .header__btn{
        font-size: 16px;
        padding: 18px 25px;
    }
    .form__tatli{
        font-size: 22px;
    }
    .form__text{
        font-size: 16px;
    }
}